<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Secret Page! &#9888;</title>
</head>
<body>
    <h1>Top Secret! &#9888;</h1>
    <p>Welcome to the secret page, <i><%= user.username %></i>!</p>
    <p>This page is only accessible to <b>Authenticated Users</b>.</p>

    <form action="/logout" method="POST">
        <button type="submit">Logout</button>
    </form>
    
</body>
</html>